</div>
<footer class="alert alert-info navbar navbar-fixed-bottom" style="background-color: black !important; font-color: #00B7FF !important">
    <b>&copy; 2016 | Harsh Patel</b>
</footer>
</body>
</html>