<% include partials/header.ejs %>
<main class="container">
    <h1><%= title %></h1>
    <div class="jumbotron">
        <p>Welcome to <%= title %>. This Application will help keep track of assignments easily.
            You can add, update, view and delete your assignments. This application follows the MVC framework and it uses
            Express and Node JS.
        </p>
    </div>
</main>
<% include partials/footer.ejs %>